{
    "swagger": "2.0",
    "info": {
        "title": "Ibracred Research",
        "description": "Api para realização de consultas a fontes de informação.",
        "version": "1.0.0",
        "contact": {
            "name": "Ibratan",
            "url": "https://www.ibratan.com.br/sistema-de-analise-de-credito-ibracred/",
            "email": "suporte@ibratan.com.br"
        }
    },
    "host": "cliente.ibratan.com.br",
    "schemes": [
        "https"
    ],
    "basePath": "/ibracred-research",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/receita-federal/imposto-renda": {
            "post": {
                "summary": "Consulta as informações da Receita Federal referente ao imposto de renda.",
                "description": "Esta consulta é realizada no site da receita federal.\n",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token de autorização para realização de consultas no Ibracred.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Objeto com as informações para realização de consulta.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Consulta"
                        }
                    }
                ],
                "tags": [
                    "Receita Federal - Imposto de renda"
                ],
                "responses": {
                    "200": {
                        "description": "Objeto com as informações necessárias para geração dos dados de acesso e chave de criptografia para proteção dos dados de acesso ao birô.",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        },
                        "examples": {
                            "application/json": {
                                "name": "receita-federal",
                                "type": "object",
                                "title": "Receita Federal - Situação Cadastral",
                                "values": [
                                    {
                                        "name": "situacao-cadastral",
                                        "type": "object",
                                        "title": "Situação Cadastral",
                                        "lenght": 20,
                                        "relevancy": "Info",
                                        "values": [
                                            {
                                                "name": "nome",
                                                "type": "string",
                                                "title": "Nome",
                                                "lenght": 15,
                                                "value": "Adilson Krasovski"
                                            },
                                            {
                                                "name": "situacao",
                                                "type": "string",
                                                "title": "Situação",
                                                "lenght": 5,
                                                "value": "Ativo"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "comprovante",
                                        "type": "object",
                                        "title": "Comprovante",
                                        "lenght": 35,
                                        "relevancy": "Info",
                                        "values": [
                                            {
                                                "name": "comprovante",
                                                "type": "string",
                                                "title": "Comprovante",
                                                "lenght": 25,
                                                "value": "DS98F6SD09F6SD6F-SWSD-0"
                                            },
                                            {
                                                "name": "data",
                                                "type": "date",
                                                "title": "Data",
                                                "lenght": 10,
                                                "value": 20160819
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado."
                    }
                }
            }
        },
        "/receita-federal/situacao-cadastral": {
            "post": {
                "summary": "Consulta as informações da Receita Federal.",
                "description": "Esta consulta é realizada no site da receita federal.\n",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Token de autorização para realização de consultas no Ibracred.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Objeto com as informações do cliente para realização de consulta.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Consulta"
                        }
                    }
                ],
                "tags": [
                    "Receita Federal - Situação Cadastral"
                ],
                "responses": {
                    "200": {
                        "description": "Objetos com as informações de Receita Federal - Situação Cadastral.",
                        "schema": {
                            "$ref": "#/definitions/Resposta"
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado."
                    }
                }
            }
        },
        "/tokens": {
            "get": {
                "summary": "Gerador de Token.",
                "description": "Este recurso permite ao cliente a geração de Token para acesso aos\nserviços de consultas aos birôs de informação.\n",
                "parameters": [
                    {
                        "name": "ApiHash",
                        "in": "header",
                        "description": "Hash gerado pela interface Web.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "validade",
                        "in": "query",
                        "description": "Infome a validade em horas para o token gerado.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 9999
                    }
                ],
                "tags": [
                    "Token"
                ],
                "responses": {
                    "200": {
                        "description": "Objeto com as informações necessárias para geração dos dados de acesso e chave de criptografia para proteção dos dados de acesso ao birô.",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        },
                        "examples": {
                            "application/json": {
                                "token": "E68C72567E7E678195642E2F7B124",
                                "cript": "2553E85ED2AE8DCC858B41D8CD6B4"
                            }
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado."
                    }
                }
            }
        }
    },
    "definitions": {
        "Resposta": {
            "type": "object",
            "properties": {
                "cache": {
                    "type": "object",
                    "properties": {
                        "date": {
                            "description": "Timestamp - Data e hora da consulta original que foi reaproveitada.",
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                },
                "executionTime": {
                    "description": "Tempo de resposta em milissegundo.",
                    "type": "number"
                },
                "name": {
                    "description": "Sugestão do identificador de servico.",
                    "type": "string"
                },
                "label": {
                    "description": "Sugestão nome do serviço.",
                    "type": "string"
                },
                "type": {
                    "description": "Identifica o tipo de informação.",
                    "type": "string",
                    "default": "Service",
                    "enum": [
                        "Service"
                    ]
                },
                "values": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "description": "Sugestão do identificador do bloco.",
                                "type": "string"
                            },
                            "label": {
                                "description": "Sugestão do nome do bloco para exibição.",
                                "type": "string"
                            },
                            "type": {
                                "description": "Identifica o tipo de informação.",
                                "type": "string",
                                "default": "Object",
                                "enum": [
                                    "Object"
                                ]
                            },
                            "maxLength": {
                                "description": "Tamanho total que o bloco poderá possuir.",
                                "type": "integer",
                                "format": "int32"
                            },
                            "relevancy": {
                                "description": "Sugestão de relavancia do bloco.",
                                "type": "string",
                                "default": "Info",
                                "enum": [
                                    "Info",
                                    "Warninng",
                                    "Restrictive"
                                ]
                            },
                            "values": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "description": "Sugestão do identificador do campo.",
                                            "type": "string"
                                        },
                                        "label": {
                                            "description": "Sugestão do nome do campo para exibição.",
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Identifica o tipo de informação.",
                                            "type": "string",
                                            "default": "Object",
                                            "enum": [
                                                "Object",
                                                "Service",
                                                "Integer",
                                                "Real",
                                                "Date",
                                                "Time",
                                                "String"
                                            ]
                                        },
                                        "maxLength": {
                                            "description": "Tamanho total que o bloco poderá possuir.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "length": {
                                            "description": "Tamanho que o conteúdo apresenta.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "value": {
                                            "description": "Conteúdo retornado pelo birô.",
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Token": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string",
                    "description": "Chave de acesso."
                },
                "cript": {
                    "type": "string",
                    "description": "Hash para criptografia dos dados de acesso."
                }
            },
            "required": [
                "token",
                "cript"
            ],
            "example": {
                "token": "E68C72567E7E678195642E2F7B124",
                "cript": "2553E85ED2AE8DCC858B41D8CD6B4"
            }
        },
        "Consulta": {
            "type": "object",
            "properties": {
                "dados": {
                    "type": "object",
                    "title": "Dados",
                    "required": [
                        "documento"
                    ],
                    "properties": {
                        "documento": {
                            "type": "string",
                            "title": "Documento(CPF/CNPJ)",
                            "description": "Documento do consultado."
                        },
                        "nome": {
                            "type": "string",
                            "title": "Razão Social",
                            "description": "Nome do consultado."
                        },
                        "dataInicio": {
                            "type": "string",
                            "title": "Data de Nascimento ou Fundação",
                            "format": "date",
                            "description": "Data de Nascimento ou fundação - YYYYMMDD."
                        }
                    }
                },
                "identificacao": {
                    "type": "object",
                    "title": "Identificacao",
                    "required": [
                        "id"
                    ],
                    "properties": {
                        "id": {
                            "type": "string",
                            "title": "Identificação",
                            "description": "Campo para que o cliente informe uma identificação sobre a origem da requisição. Utilizado para rateio."
                        },
                        "descricao": {
                            "type": "string",
                            "title": "Descrição",
                            "description": "Valor utilizado para identificação em relatórios. Quando não informado é utilizado o campo de identificação."
                        }
                    }
                },
                "acesso": {
                    "title": "Dados de Acesso",
                    "description": "Informações para acesso aos birôs.",
                    "type": "object",
                    "required": [
                        "usuario",
                        "senha"
                    ],
                    "properties": {
                        "usuario": {
                            "type": "string",
                            "title": "Usuário",
                            "description": "Usuário de Acesso ao birô."
                        },
                        "senha": {
                            "type": "string",
                            "title": "Senha",
                            "description": "Nome do consultado."
                        },
                        "tokens": {
                            "type": "array",
                            "title": "Tokens",
                            "description": "Tokens de acesso ao birô.",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "example": {
                "dados": {
                    "nome": "Adilson Krasovski",
                    "documento": "05334699961",
                    "dataInicio": 19860721
                },
                "identificacao": {
                    "id": "CONSULTAFILIAL12",
                    "descricao": "Filial12"
                },
                "acesso": {
                    "usuario": "IOHFOEIJNVCPAO",
                    "senha": "PFJISA8F7SD98F7SD89GFS"
                }
            }
        }
    }
}
